<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='script.js') }}" defer></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <title>Online Interpreter</title>
</head>

<body>
  <style>
    input {
      display: none;
    }
  </style>

  <div class="code-input">
    <textarea name="code" id="code" cols="40" rows="20"></textarea>
    <button id="run">Run</button>
  </div>

  <div class="code-output">
    <div class="output" id="output"></div>
    <input id="input" type="text">
  </div>
</body>

</html>